{% extends 'base.html' %}
{% load static %}
{% block title %} Post Detail {% endblock %}
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{% static 'static/css/style.css' %}" rel="stylesheet">

{% block content %}
     <!-- Page content-->
     <div class="container mt-2">
        <div class="row">
            <div class="col-lg-12">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">{{post.title}}</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">{{post.createData}}</div>
                        <!-- Post categories-->
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{post.category}}</a>
                    </header>
                    <!-- Preview image figure-->
                    {% for photo in post.photo_set.all %}
                    <figure class="mb-4"><img class="img-fluid rounded" src="{{photo.image.url}}" alt="..." width = '2000'/></figure>
                    {% endfor %}
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">{{post.coment}}</p>
                    </section>
                    <div align="right">
                        {% if request.user == post.author %}
                        <a href="{% url 'community:post_update' post.id %}">
                        <button style="background-color: darkgray;" type="submit" class="btn btn-default">글 수정</button>
                        </a>
                        <a href="{% url 'community:post_delete' post.id %}">
                            <button  type="submit" class="btn btn-danger">글 삭제</button>
                        </a>
                        {% endif %}
                    </div>
                </article>
            </div>
{% endblock %}