{% extends 'base.html' %}
{% load static %}
{% block title %} Post Detail {% endblock %}

{% block content %}
     <!-- Page content-->
     <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">{{post.title}}</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">{{post.createData}}</div>
                        <!-- Post categories-->
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{post.category}}</a>
                    </header>
                    <!-- Preview image figure-->
                    {% for photo in post.photo_set.all %}
                    <figure class="mb-4"><img class="img-fluid rounded" src="{{photo.image.url}}" alt="..." width = '500'/></figure>
                    {% endfor %}
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">{{post.coment}}</p>
                    </section>
                </article>
            </div>
{% endblock %}